:root {
  // Layout
  --layout-padding: 1.5rem;

  // Colors
  --white-100: #ffffff;

  --primary-100: #25292d;
  --primary-80: #333333;
  --primary-60: #515151;
  --primary-40: #949494;
  --primary-30: #929496;

  --accent-100: #219a2c;
  --accent-80: #57c362d2;

  body,
  [data-colorscheme='dark'] {
    --color-text-primary: var(--white-100);
    --color-text-secondary: var(--primary-30);
    --color-background: var(--primary-100);
  }

  // Not needed because we do not have light theme yet.
  // [data-colorscheme='light'] {}
}
